:root {
    --green-primary: #198754;
    --green-secondary: #147548;
    --blue-primary: #0d6efd;
    --blue-secondary: #0a50b9;
    --red-primary: #dc3545;
    --gray-primary: #6c757d;
    --gray-secondary: #585e64;
    --bg-primary: #9e9e9e;
}

body {
    font-family: "Rubik", sans-serif;
    background-image: radial-gradient(circle, #9e9e9e, #999a9f, #9298a0, #87969f, #7c949d);}

.navbar {
    background-image: linear-gradient(to top, #585e64, #646b70, #71787d, #7e8589, #8c9396);
}

.task-content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

svg {
    cursor: pointer;
}

.plus {
    color: var(--green-primary)
}

.plus:hover {
    color: var(--green-secondary)
}

.minus {
    color: var(--gray-primary)
}

.minus:hover {
    color: var(--gray-secondary)
}

.edit {
    color: var(--blue-primary)
}

.edit:hover {
    color: var(--blue-secondary)
}

.finish {
    color: var(--green-primary)
}

.finish:hover {
    color: var(--green-secondary)
}

.alert-box {
    color: var(--red-primary);
    cursor: auto;
    animation: pulse 3s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #dc3546b9;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px #dc3545;
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 #dc3545;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #dc3546b9;
    box-shadow: 0 0 0 0 #dc3546b9;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px #dc354600;
      box-shadow: 0 0 0 10px #dc354600;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 #dc354600;
      box-shadow: 0 0 0 0 #dc354600;
  }
}

@media (max-width: 350px) {
  .task {
    flex-direction: column;
  }
}